In [48]:
# Those imports are here for your convenience. Feel free to remove, change or add your preferred packages
import psycopg2
import pymysql
import pandas as pd
from sqlalchemy import create_engine

DB_NAME='olist'
DB_PASSWORD='secret'

# those are sequelize engine configs to access the dbs from inside the lab container. Choose one
#engine_config = f'postgresql+psycopg2://root:{DB_PASSWORD}@postgres/{DB_NAME}'
engine_config = f'mysql+pymysql://root:{DB_PASSWORD}@mariadb/{DB_NAME}'

### 1. Populate the DB

Amend the load_csv function to load the csv files into your database tables.

You can use `pd.read_csv` and `pandas.DataFrame.to_sql`, or any method you prefer.

This is expected to run only once, so don't worry about overwriting exising data, just assume that the tables are in place (you completed the readme.md task, didn't you?) and empty.

In [49]:
con = create_engine(engine_config).connect()

# List of tables to populate (you may need to change the order)
tables = ['customers','sellers','products','orders','order_items','order_reviews']

def load_csv(table):
    pass

In [50]:
for table in tables:
    load_csv(table)

### 2. Create a class to help us execute SQL statements

Amend the code below to create our class.

In [45]:
class MyDB(object):
    _cnx = None

    def __init__(self):
        self._connect()
        
    def _connect(self):
        self._cnx = 'pymysql.connect(...) or psycopg2.connect()'
        
    def query(self, sql: str, params: tuple = ()) -> dict:
        pass
        
db = MyDB()

# simple check
db.query('SELECT count(*) FROM customers')

## IMPORTANT: You are expected to solve all the questions with raw SQL queries.

### 3. Who are the top 10 sellers by gross revenue.

- Return the seller_id, city, state and total gross revenue (price + freight_value).
- Consider all delivedred orders as paid.
- Sort by revenue in descending order.

In [ ]:
sql = 'SELECT ...'
db.query(sql)

### 4. Include the total number or orders and the average order value to the query above

In [ ]:
sql = 'SELECT ...'
db.query(sql)

### 5. What state has the most satisfied customers

In [ ]:
sql = 'SELECT ...'
db.query(sql)

### 6. What is the average delivery time, from purchase to arrival, between each of the sellers states and the customers states.

In [ ]:
sql = 'SELECT ...'
db.query(sql)

### 7. What are the top 3 product categories by items sold.

In [ ]:
sql = 'SELECT ...'
db.query(sql)

### 8. Given a specific state, plot the total revenue by month

In [43]:
state = 'SP'
sql = sql = 'SELECT ...'
data = db.query(sql)
plot(data)

### 9. Which cities had a drop in revenue when comparing March 2018 with April 2018

In [ ]:
sql = sql = 'SELECT ...'
data = db.query(sql)

### 10. Given a specific state, plot the revenue variation, in percent, month by month

In [ ]:
state = 'SP'
sql = sql = 'SELECT ...'
data = db.query(sql)
plot(data)